html {
    height: 100%;
    width: 100;
}

header { text-align: left;
    padding: 10px
    height: 120px   }

h1 {
    text-align: center;
}

h3 {


}

p {
    text-align;
    color:thistle;
}

h6 {


    text-align: center;
}

